* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Courier', serif;
  font-weight: bold;
  color: white;
  overflow: hidden;
  background-color: black;
}
a {
  color: inherit;
}
a:link, a:visited, #save {
  text-decoration: none;
}
button:focus {
  outline: none;
}
/* ------------------------------------------------------- */
.menu {
  display: block;
  width: 200px;
  padding: var(--my-padding);
}
.menu a {
  display: block;
  margin-bottom: 1.2em;
}
.p5Canvas {
  position: absolute;
  height: calc(100vh - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  border: 1px solid rgb(27, 27, 27);
}
.controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}
.btn {
  display: block;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0 5px;
  cursor: pointer;
}
.controls i {
  font-size: 2em;
  color: white;
}
.link {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--my-padding);
}
/* ------------------------------------------------------- */
@media (min-width: 600px) {
  :root { --my-padding: 30px; }
}
@media (max-width: 600px) {
  :root { --my-padding: 20px; }
}
